{{ define "main" }}
<section class="section-sm">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Left Column: Founders' Images -->
      <div class="flex flex-col items-center space-y-4">
        <div class="text-center">
          <img src="/images/avatar.png" alt="Founder 1" class="w-36 h-36 rounded-full">
          <p class="mt-2 text-sm font-medium">Chief Executive Officer</p>
        </div>
        <div class="text-center">
          <img src="/images/avatar.png" alt="Founder 2" class="w-36 h-36 rounded-full">
          <p class="mt-2 text-sm font-medium">Chief Technology Officer</p>
        </div>
        <div class="text-center">
          <img src="/images/avatar.png" alt="Founder 3" class="w-36 h-36 rounded-full">
          <p class="mt-2 text-sm font-medium">Chief Operating Officer</p>
        </div>
      </div>

   <!-- Right Column: Company History -->
  <div class="p-4">
  <h2 class="text-2xl font-bold mb-4">Our Company History</h2>
  <p class="mb-4">
    So, we are back with another data offering. This partnership has lasted 18 years. The origin story of this partnership seems ancient. The partnership - literally -
    started with a conversation in a bar.
  </p>
  <p class="mb-4">
    In a bar in Washington DC, a consultant at the World Bank told an American that two IT engineers from the big Indian outsourcing firms wanted to start their own company. The American invested in the company. 
  </p>
  <p class="mb-4">
    We've done a lot of work with freight and customs transactions. Every three or four years, we predict that EDI transactions will be extinct in three or years.
  </p>
  <p class="mb-4">
    Please check out our blog for our current offering and also visit Giant Leap Systems. 
  </p>
</div>
</section>
{{ end }}




